[user]
	name = jaluspeet
	email = 39632922+jaluspeet@users.noreply.github.com
[merge]
	tool = nvim
[mergetool "nvim"]
	cmd = nvim -f +DiffviewOpen
[mergetool]
	 prompt = false
[diff]
	tool = nvim
[difftool "nvim"]
	cmd = nvim -f +DiffviewOpen
[difftool]
	prompt = false
